@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar .nav {
  width: 100%;
  height: auto;
  padding: 2.4vw 3.4vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.navbar .nav-logo {
  display: grid;
  gap: 0.3vw;
  text-decoration: none;
}
.navbar .nav-logo img {
  width: 6vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .nav-logo span {
  font-family: "Grandstander", cursive;
  font-size: 2.15vw;
  font-weight: 200;
  color: #595959;
  text-transform: uppercase;
}
.navbar .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
.navbar .nav-main .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10vw;
  border: 0.15vw solid #34a0a4;
  padding: 0.3vw;
}
.navbar .nav-main .search button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: #34a0a4;
  color: #fff;
  font-size: 1.1vw;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  padding: 0.7vw;
  cursor: pointer;
}
.navbar .nav-main .search button:hover {
  background-color: #0b787c;
}
.navbar .nav-main .search input {
  width: 34vw;
  padding: 0 0.5vw;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  font-size: 1.1vw;
  color: #595959;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  background-color: transparent;
}
.navbar .nav-main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.05vw;
}
.navbar .nav-main .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #595959;
  text-decoration: none;
  line-height: 100%;
  transition: all 0.4s ease-out;
}
.navbar .nav-main .links a:hover {
  color: #0b787c;
}
.navbar .nav-main .links a.active {
  color: #fff;
  background-color: #34a0a4;
  padding: 0.4vw 0.9vw;
  border-radius: 10vw;
}
.navbar .nav-others {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.9vw;
}
.navbar .nav-others i {
  font-size: 1.7vw;
  color: #34a0a4;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #595959;
  border-top: 0.1vw solid rgba(0, 0, 0, 0.1);
  padding: 2.4vw 3.4vw;
}
.footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.6vw;
}
.footer .social-media a {
  text-decoration: none;
  color: #34a0a4;
}
.footer .social-media a i {
  font-size: 1.5vw;
}
.footer .social-media a:hover {
  color: #0b787c;
  transition: 0.5s;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4vw 3.4vw;
  justify-content: space-between;
  height: 90vh;
}
.navigation a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.25s ease;
  color: #595959;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1vw;
}
.navigation a * {
  transition: 0.25s ease;
}
.navigation a i {
  margin-right: 0.75rem;
  font-size: 1.25em;
  flex-shrink: 0;
}
.navigation a + a {
  margin-top: 1.25rem;
}
.navigation a:hover, .navigation a:focus {
  transform: translateX(4px);
  color: #070F2B;
}
.navigation .logout {
  margin-top: auto;
}

.app-header {
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  align-items: flex-end;
  padding: 0 3.4vw;
}

.logo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}
.logo .logo-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70px;
  height: 70px;
}
.logo .logo-icon img {
  width: 70%;
}
.logo .logo-title {
  line-height: 1.25;
  font-family: "Be Vietnam Pro", sans-serif;
}
.logo .logo-title span {
  color: #595959;
}

.tabs {
  display: flex;
  justify-content: space-between;
  color: var(--c-text-tertiary);
  border-bottom: 1px solid #000;
}
.tabs a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  border-top: 2px solid transparent;
  display: inline-flex;
  transition: 0.25s ease;
  color: #595959;
}
.tabs a.active, .tabs a:hover, .tabs a:focus {
  color: #070F2B;
  border-color: #070F2B;
}

.app-header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.25s ease;
}
.user-profile:hover, .user-profile:focus {
  color: #000;
}
.user-profile:hover span:last-child, .user-profile:focus span:last-child {
  box-shadow: 0 0 0 4px #f8f4f0, 0 0 0 5px #595959;
}
.user-profile span:first-child {
  display: flex;
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  font-weight: 300;
  font-family: "Be Vietnam Pro", sans-serif;
}
.user-profile span:last-child {
  transition: 0.25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1.5rem;
  flex-shrink: 0;
}

.app-header-actions-buttons {
  display: flex;
  border-left: 1px solid #000;
  margin-left: 2rem;
  padding-left: 2rem;
}
.app-header-actions-buttons > * + * {
  margin-left: 1rem;
}
.app-header-actions-buttons .icon-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  border: 1px solid #595959;
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s ease;
  flex-shrink: 0;
}
.app-header-actions-buttons .icon-button.large {
  width: 42px;
  height: 42px;
  font-size: 1.25em;
}
.app-header-actions-buttons .icon-button i {
  transition: 0.25s ease;
}
.app-header-actions-buttons .icon-button:hover, .app-header-actions-buttons .icon-button:focus {
  background-color: #EEEEEE;
  box-shadow: 0 0 0 4px #f8f4f0, 0 0 0 5px #595959;
}

.home .hero {
  padding: 0 3.4vw 2.4vw;
  border-radius: 1.6vw;
}
.home .hero .swiper {
  --swiper-pagination-color: #34a0a4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  border-radius: 1.6vw;
  position: relative;
}
.home .hero .swiper-wrapper {
  width: 100%;
  height: auto;
}
.home .hero .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.home .hero .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .hero .swiper .swiper-nav-prev,
.home .hero .swiper .swiper-nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}
.home .hero .swiper .swiper-nav-prev i,
.home .hero .swiper .swiper-nav-next i {
  color: #34a0a4;
  font-size: 2.6vw;
  transition: all ease-out 0.4s;
}
.home .hero .swiper .swiper-nav-prev:hover i,
.home .hero .swiper .swiper-nav-next:hover i {
  color: #0b787c;
}
.home .hero .swiper .swiper-nav-prev {
  left: 1.2vw;
}
.home .hero .swiper .swiper-nav-next {
  right: 1.2vw;
}
.home .categories {
  padding: 0 3.4vw 2.4vw;
  width: 100%;
  height: auto;
}
.home .categories .swiper {
  width: 100%;
  height: auto;
}
.home .categories .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  cursor: grabbing;
}
.home .categories .swiper-wrapper .swiper-slide {
  padding: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 0.15vw solid #34a0a4;
  background-color: transparent;
  border-radius: 0.4vw;
  gap: 0.5vw;
}
.home .categories .swiper-wrapper .swiper-slide i {
  font-size: 1.9vw;
  color: #34a0a4;
}
.home .categories .swiper-wrapper .swiper-slide .text {
  text-align: center;
  color: #34a0a4;
}
.home .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: 0 3.4vw 2.4vw;
  gap: 1.1vw;
  grid-auto-rows: 1fr;
}
.home .products-wrapper {
  background-color: #fff;
  border-radius: 0.7vw;
  box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.home .products-wrapper .image {
  height: 30vh;
}
.home .products-wrapper .image img {
  border-top-left-radius: 0.7vw;
  border-top-right-radius: 0.7vw;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .products-wrapper .name {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Maksimal 2 baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.6vw 0.8vw 0;
  font-size: 98%;
}
.home .products-wrapper .price {
  font-weight: 800;
  padding: 0.3vw 0.8vw 0;
}
.home .products-wrapper .discount {
  padding: 0.3vw 0.8vw 0;
  font-size: 85%;
  color: rgba(89, 89, 89, 0.6);
  text-decoration: line-through;
}
.home .products-wrapper .rating-sold {
  font-size: 95%;
  padding: 0.3vw 0.8vw 1.1vw;
}
.home .join {
  padding: 0 3.4vw 2.4vw;
}
.home .join .card1-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2vw;
}
.home .join .card1-content .card1 {
  background-color: #070F2B;
  border-radius: 1.6vw;
  padding: 2.4vw;
}
.home .join .card1-content .card1 p {
  color: #34a0a4;
}
.home .join .card1-content .card1 h1 {
  color: #fff;
  font-size: 3.525vw;
  margin: 1vw 0;
}
.home .join .card1-content .card1 button {
  border: 0.1vw solid #34a0a4;
  background-color: transparent;
  color: #34a0a4;
  padding: 1.15vw;
  border-radius: 10vw;
  cursor: pointer;
  font-size: 97%;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.home .join .card1-content .card1 button::after {
  content: "";
  background-color: #34a0a4;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-in-out;
}
.home .join .card1-content .card1 button:hover, .home .join .card1-content .card1 button:focus {
  color: #fff;
}
.home .join .card1-content .card1 button:hover::after, .home .join .card1-content .card1 button:focus::after {
  transform-origin: top center;
  transform: scaleY(1);
}
.home .join .card1-content .card2 {
  background-color: #34a0a4;
  border-radius: 1.6vw;
  padding: 2.4vw;
}
.home .join .card1-content .card2 p {
  color: #070F2B;
}
.home .join .card1-content .card2 h1 {
  color: #fff;
  font-size: 3.525vw;
  margin: 1vw 0;
}
.home .join .card1-content .card2 button {
  border: 0.1vw solid #070F2B;
  background-color: transparent;
  color: #070F2B;
  padding: 1.15vw;
  border-radius: 10vw;
  cursor: pointer;
  font-size: 97%;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.home .join .card1-content .card2 button::after {
  content: "";
  background-color: #070F2B;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-in-out;
}
.home .join .card1-content .card2 button:hover, .home .join .card1-content .card2 button:focus {
  color: #fff;
}
.home .join .card1-content .card2 button:hover::after, .home .join .card1-content .card2 button:focus::after {
  transform-origin: top center;
  transform: scaleY(1);
}
.home .members {
  padding: 0 3.4vw 2.4vw;
}
.home .members .counters {
  color: #595959;
  text-align: center;
}
.home .members .counters > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4em 2em;
}
.home .members .counters .counter {
  position: relative;
}
.home .members .counters .counter h1 {
  font-size: 4.3vw;
  color: #595959;
  font-weight: 700;
  text-transform: uppercase;
}
.home .members .counters .counter:not(:last-child)::before {
  content: "";
  background-color: #595959;
  position: absolute;
  width: 2px;
  height: 3em;
  top: 50%;
  transform: translateY(-50%);
  right: -1em;
}
.home .partners {
  text-align: center;
  padding: 0 3.4vw 2.4vw;
}
.home .partners h2 {
  font-size: 2rem;
  color: #595959;
}
.home .partners .scrolling-logos {
  width: 100%;
  overflow: hidden;
}
.home .partners .scrolling-logos .logo-container {
  display: flex;
  white-space: nowrap;
}
.home .partners .scrolling-logos .logo-container .logo-slide {
  display: flex;
  animation: scroll 30s linear infinite;
  flex-shrink: 0; /* Agar gambar tidak mengecil */
  width: -moz-max-content;
  width: max-content; /* Pastikan lebar slide mengikuti kontennya */
}
.home .partners .scrolling-logos .logo-container .logo-slide img {
  width: 10vw;
  height: 8vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 3.2vw;
  filter: grayscale(1);
  transition: filter 0.3s ease;
}
.home .partners .scrolling-logos .logo-container .logo-slide img:hover {
  filter: grayscale(0);
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.home .testimonials {
  padding: 0 3.4vw 5.4vw;
}
.home .testimonials .testimonials-content {
  margin: auto;
  border-radius: 2.5vw;
}
.home .testimonials .testimonials-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.2vw;
}
.home .testimonials .testimonials-section .testimonials-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.8vw;
}
.home .testimonials .testimonials-section .testimonials-text p {
  font-size: 1vw;
  color: #595959;
}
.home .testimonials .testimonials-section .testimonials-text button {
  padding: 1.1vw 1.3vw;
  background-color: #34a0a4;
  border-radius: 10vw;
  color: #fff;
  border: 0 solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.15vw;
  margin-top: 1.2vw;
  font-size: 1vw;
}
.home .testimonials .testimonials-section .testimonials-text button:hover {
  background-color: #0b787c;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.home .testimonials .testimonials-section .testimonials-list {
  display: grid;
  align-items: center;
  gap: 0.8vw;
}
.home .testimonials .testimonials-section .testimonials-list .testimonial-card {
  border: 0.1vw solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 1.6vw;
  padding: 2vw;
}
.home .testimonials .testimonials-section .testimonials-list .testimonial-card .stars {
  color: #f0ad4e;
  padding-bottom: 0.7vw;
}
.home .testimonials .testimonials-section .testimonials-list .testimonial-card .testimonial-text {
  margin-bottom: 1.9vw;
  font-size: 1.1vw;
}
.home .testimonials .testimonials-section .testimonials-list .testimonial-card .testimonial-author {
  text-transform: uppercase;
  color: #34a0a4;
  font-size: 0.8vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
}
.home .testimonials .line {
  width: 13%;
  height: 0.1vh;
  background-color: #34a0a4;
  margin: 3.6vh 0;
}

.catalog {
  min-height: 100vh;
  padding: 0 3.4vw 2.4vw;
  gap: 0.9vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
}
.catalog-filter {
  display: grid;
  gap: 1.6vw;
  width: 20vw;
  height: -moz-fit-content;
  height: fit-content;
  transition: transform 0.65s linear;
  transform: translateX(0);
}
.catalog-filter .filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 1vw;
}
.catalog-filter .filter-header-controll {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.45vw;
  color: #595959;
}
.catalog-filter .filter-header-controll i {
  font-size: 1.25vw;
}
.catalog-filter .filter-header-controll span {
  font-weight: 600;
}
.catalog-filter .filter-header-close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.2vw;
  cursor: pointer;
}
.catalog-filter .filter-header-close i {
  font-size: 1.2vw;
  color: #595959;
}
.catalog-filter .filter-header-close span {
  width: 0.15vw;
  height: 2.6vh;
  border-radius: 50vw;
  background-color: #595959;
}
.catalog-filter .filter-categories {
  display: grid;
  gap: 0.6vw;
}
.catalog-filter .filter-categories-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.15vw;
  font-weight: 600;
  color: #0b787c;
}
.catalog-filter .filter-categories-title i {
  cursor: pointer;
}
.catalog-filter .filter-categories-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5vw 0.4vw;
  max-height: 100vh;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
}
.catalog-filter .filter-categories-list.expanded {
  max-height: 0;
}
.catalog-filter .filter-categories-list .item {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10vw;
  color: #34a0a4;
  cursor: pointer;
  border: 0.1vw solid #34a0a4;
  padding: 0.6vw 0.9vw;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-out;
  font-size: 0.95vw;
}
.catalog-filter .filter-categories-list .item::after {
  content: "";
  position: absolute;
  left: -5%;
  top: 0;
  width: 110%;
  height: 110%;
  display: block;
  z-index: -1;
  background-color: #34a0a4;
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: transform 0.35s ease-out;
}
.catalog-filter .filter-categories-list .item:hover {
  color: #fff;
}
.catalog-filter .filter-categories-list .item:hover::after {
  transform: scaleY(1);
  transform-origin: center top;
}
.catalog-filter .filter-address {
  display: grid;
  gap: 0.6vw;
}
.catalog-filter .filter-address-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.15vw;
  font-weight: 600;
  color: #0b787c;
}
.catalog-filter .filter-address-title i {
  cursor: pointer;
}
.catalog-filter .filter-address-list {
  display: grid;
  grid-template-areas: "province regency" "district village";
  gap: 0.7vw 0.6vw;
  max-height: 100vh;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
  height: auto;
}
.catalog-filter .filter-address-list.expanded {
  max-height: 0;
}
.catalog-filter .filter-address-list .province {
  grid-area: province;
  border: 0.1vw solid #34a0a4;
  padding: 0.5vw 0.55vw 0.5vw 0.5vw;
  border-radius: 0.4vw;
  font-size: 0.95vw;
  color: #34a0a4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.catalog-filter .filter-address-list .province-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.catalog-filter .filter-address-list .province-default i {
  margin-top: -0.3vw;
}
.catalog-filter .filter-address-list .province-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
.catalog-filter .filter-address-list .province-container .item {
  padding-top: 0.5vw;
}
.catalog-filter .filter-address-list .province.expanded .province-container,
.catalog-filter .filter-address-list .province.expanded .regency-container,
.catalog-filter .filter-address-list .province.expanded .district-container,
.catalog-filter .filter-address-list .province.expanded .village-container {
  max-height: 100vh;
}
.catalog-filter .filter-address-list .regency {
  grid-area: regency;
  border: 0.1vw solid #34a0a4;
  padding: 0.5vw 0.55vw 0.5vw 0.5vw;
  border-radius: 0.4vw;
  font-size: 0.95vw;
  color: #34a0a4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.catalog-filter .filter-address-list .regency-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.catalog-filter .filter-address-list .regency-default i {
  margin-top: -0.3vw;
}
.catalog-filter .filter-address-list .regency-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
.catalog-filter .filter-address-list .regency-container .item {
  padding-top: 0.5vw;
}
.catalog-filter .filter-address-list .regency.expanded .province-container,
.catalog-filter .filter-address-list .regency.expanded .regency-container,
.catalog-filter .filter-address-list .regency.expanded .district-container,
.catalog-filter .filter-address-list .regency.expanded .village-container {
  max-height: 100vh;
}
.catalog-filter .filter-address-list .district {
  grid-area: district;
  border: 0.1vw solid #34a0a4;
  padding: 0.5vw 0.55vw 0.5vw 0.5vw;
  border-radius: 0.4vw;
  font-size: 0.95vw;
  color: #34a0a4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.catalog-filter .filter-address-list .district-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.catalog-filter .filter-address-list .district-default i {
  margin-top: -0.3vw;
}
.catalog-filter .filter-address-list .district-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
.catalog-filter .filter-address-list .district-container .item {
  padding-top: 0.5vw;
}
.catalog-filter .filter-address-list .district.expanded .province-container,
.catalog-filter .filter-address-list .district.expanded .regency-container,
.catalog-filter .filter-address-list .district.expanded .district-container,
.catalog-filter .filter-address-list .district.expanded .village-container {
  max-height: 100vh;
}
.catalog-filter .filter-address-list .village {
  grid-area: village;
  border: 0.1vw solid #34a0a4;
  padding: 0.5vw 0.55vw 0.5vw 0.5vw;
  border-radius: 0.4vw;
  font-size: 0.95vw;
  color: #34a0a4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.catalog-filter .filter-address-list .village-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.catalog-filter .filter-address-list .village-default i {
  margin-top: -0.3vw;
}
.catalog-filter .filter-address-list .village-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
.catalog-filter .filter-address-list .village-container .item {
  padding-top: 0.5vw;
}
.catalog-filter .filter-address-list .village.expanded .province-container,
.catalog-filter .filter-address-list .village.expanded .regency-container,
.catalog-filter .filter-address-list .village.expanded .district-container,
.catalog-filter .filter-address-list .village.expanded .village-container {
  max-height: 100vh;
}
.catalog-filter .filter-price {
  display: grid;
  gap: 0.6vw;
}
.catalog-filter .filter-price-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1.15vw;
  font-weight: 600;
  color: #0b787c;
}
.catalog-filter .filter-price-title i {
  cursor: pointer;
}
.catalog-filter .filter-price-list {
  max-height: 100vh;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
  display: grid;
  grid-template-areas: "min-input max-input" "display display";
  gap: 0.4vw 0.6vw;
  grid-template-columns: 1fr 1fr;
}
.catalog-filter .filter-price-list.expanded {
  max-height: 0;
}
.catalog-filter .filter-price-list .min-price-input {
  grid-area: min-input;
  display: grid;
  gap: 0.5vw;
}
.catalog-filter .filter-price-list .min-price-input label {
  font-size: 1.1vw;
  color: #595959;
}
.catalog-filter .filter-price-list .min-price-input input {
  border: 0.1vw solid #34a0a4;
  padding: 0.5vw 0.55vw 0.5vw 0.5vw;
  border-radius: 0.4vw;
  font-size: 0.95vw;
  color: #34a0a4;
  background-color: transparent;
  width: 100%;
  outline: none;
}
.catalog-filter .filter-price-list .max-price-input {
  grid-area: max-input;
  display: grid;
  gap: 0.5vw;
}
.catalog-filter .filter-price-list .max-price-input label {
  font-size: 1.1vw;
  color: #595959;
}
.catalog-filter .filter-price-list .max-price-input input {
  border: 0.1vw solid #34a0a4;
  padding: 0.5vw 0.55vw 0.5vw 0.5vw;
  border-radius: 0.4vw;
  font-size: 0.95vw;
  color: #34a0a4;
  background-color: transparent;
  width: 100%;
  outline: none;
}
.catalog-filter .filter-price-list .container-price-display {
  grid-area: display;
  color: #070F2B;
  font-size: 1vw;
}
.catalog-filter .filter-price-list .container-price-display .min-price-display,
.catalog-filter .filter-price-list .container-price-display .max-price-display {
  font-size: 1.15vw;
  color: #595959;
}
.catalog-filter .filter-price-list.expended {
  max-height: 0;
}
.catalog-filter.hidden {
  transform: translateX(-23.4vw);
}
.catalog-display {
  width: 100%;
}
.catalog-display .display-header {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6vw 1.6vw;
  border: 0.1vw solid #595959;
  border-radius: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.4vw;
  color: #595959;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.6s linear;
  transform: translateX(0);
}
.catalog-display .display-header span {
  font-weight: 600;
}
.catalog-display .display-header i {
  font-size: 1.2vw;
}
.catalog-display .display-header i:nth-child(1) {
  display: block;
}
.catalog-display .display-header i:nth-child(2) {
  display: none;
}
.catalog-display .display-header.collapse {
  transform: translateX(-20.9vw);
}
.catalog-display .display-header.collapse i:nth-child(1) {
  display: none;
}
.catalog-display .display-header.collapse i:nth-child(2) {
  display: block;
}
.catalog-display .display-header::after {
  content: "";
  position: absolute;
  left: -5%;
  top: 0;
  width: 110%;
  height: 110%;
  display: block;
  z-index: -1;
  background-color: #595959;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.35s ease-out;
}
.catalog-display .display-header:hover {
  color: #fff;
}
.catalog-display .display-header:hover::after {
  transform: scaleY(1);
  transform-origin: top center;
}

.wrapper-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4vw;
}
.wrapper-login .login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.8vw 3.6vw 3.8vw;
  border-radius: 3vw;
  background: #fff;
  width: 100%;
  max-width: 38vw;
}
.wrapper-login .login-image {
  width: 6.6vw;
  height: auto;
  cursor: pointer;
  text-decoration: none;
}
.wrapper-login .login-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-login .login-title {
  font-size: 2.4vw;
  font-weight: 600;
  color: #595959;
  text-align: center;
  line-height: 100%;
}
.wrapper-login .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.6vw;
  margin-top: 2.1vw;
}
.wrapper-login .login-form input {
  width: 100%;
  border-radius: 10vw;
  padding: 0 1.4vw;
  height: 8vh;
  font-size: 1.2vw;
  outline: none;
  border: 0.1vw solid rgba(89, 89, 89, 0.5);
  color: #595959;
}
.wrapper-login .login-form input:focus {
  border-bottom-width: 0.2vw;
}
.wrapper-login .login-form button {
  width: 100%;
  border-radius: 10vw;
  padding: 0 1.4vw;
  height: 8vh;
  font-size: 1.2vw;
  color: #fff;
  background-color: #34a0a4;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.wrapper-login .login-form button::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  left: -5%;
  background-color: #0b787c;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-out;
  z-index: -1;
}
.wrapper-login .login-form button:hover::after {
  transform: scaleY(1);
  transform-origin: top center;
}
.wrapper-login .login-to-signup {
  text-align: center;
  margin-top: 1.1vw;
}
.wrapper-login .login-to-signup span {
  color: #595959;
}
.wrapper-login .login-to-signup a {
  color: #34a0a4;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.wrapper-login .login-to-signup a:hover {
  text-decoration: underline;
}
.wrapper-login .login-line {
  position: relative;
  height: 0.1vw;
  width: 100%;
  margin: 6vh 0;
  background-color: #d4d4d4;
}
.wrapper-login .login-line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 1.4vw;
  padding: 0 15px;
}
.wrapper-login .login-media-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6vw;
  width: 100%;
}
.wrapper-login .login-media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  color: #34a0a4;
  background-color: transparent;
  border: 0.1vw solid #34a0a4;
  width: 100%;
  border-radius: 10vw;
  padding: 0 1.4vw;
  height: 8vh;
  font-size: 1.2vw;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-out;
  z-index: 1;
}
.wrapper-login .login-media-options a::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  left: -5%;
  background-color: #34a0a4;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-out;
  z-index: -1;
}
.wrapper-login .login-media-options a:hover {
  color: white;
}
.wrapper-login .login-media-options a:hover::after {
  transform: scaleY(1);
  transform-origin: top center;
}
.wrapper-login input[type=number]::-webkit-outer-spin-button,
.wrapper-login input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper-login input[type=number] {
  -moz-appearance: textfield;
}

.wrapper-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4vw;
}
.wrapper-register .register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2.8vw 3.6vw 3.8vw;
  border-radius: 3vw;
  background: #fff;
  width: 100%;
  max-width: 38vw;
}
.wrapper-register .register-image {
  width: 6.6vw;
  height: auto;
  cursor: pointer;
  text-decoration: none;
}
.wrapper-register .register-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-register .register-title {
  font-size: 2.4vw;
  font-weight: 600;
  color: #595959;
  text-align: center;
  line-height: 100%;
}
.wrapper-register .register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.6vw;
  margin-top: 2.1vw;
}
.wrapper-register .register-form input {
  width: 100%;
  border-radius: 10vw;
  padding: 0 1.4vw;
  height: 8vh;
  font-size: 1.2vw;
  outline: none;
  border: 0.1vw solid rgba(89, 89, 89, 0.5);
  color: #595959;
}
.wrapper-register .register-form input:focus {
  border-bottom-width: 0.2vw;
}
.wrapper-register .register-form button {
  width: 100%;
  border-radius: 10vw;
  padding: 0 1.4vw;
  height: 8vh;
  font-size: 1.2vw;
  color: #fff;
  background-color: #34a0a4;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.wrapper-register .register-form button::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  left: -5%;
  background-color: #0b787c;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-out;
  z-index: -1;
}
.wrapper-register .register-form button:hover::after {
  transform: scaleY(1);
  transform-origin: top center;
}
.wrapper-register .register-to-login {
  text-align: center;
  margin-top: 1.1vw;
}
.wrapper-register .register-to-login span {
  color: #595959;
}
.wrapper-register .register-to-login a {
  color: #34a0a4;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.wrapper-register .register-to-login a:hover {
  text-decoration: underline;
}
.wrapper-register .register-line {
  position: relative;
  height: 0.1vw;
  width: 100%;
  margin: 6vh 0;
  background-color: #d4d4d4;
}
.wrapper-register .register-line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #8b8b8b;
  padding: 0 1.4vw;
  padding: 0 15px;
}
.wrapper-register .register-media-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6vw;
  width: 100%;
}
.wrapper-register .register-media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  color: #34a0a4;
  background-color: transparent;
  border: 0.1vw solid #34a0a4;
  width: 100%;
  border-radius: 10vw;
  padding: 0 1.4vw;
  height: 8vh;
  font-size: 1.2vw;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-out;
  z-index: 1;
}
.wrapper-register .register-media-options a::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  left: -5%;
  background-color: #34a0a4;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-out;
  z-index: -1;
}
.wrapper-register .register-media-options a:hover {
  color: white;
}
.wrapper-register .register-media-options a:hover::after {
  transform: scaleY(1);
  transform-origin: top center;
}
.wrapper-register input[type=number]::-webkit-outer-spin-button,
.wrapper-register input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper-register input[type=number] {
  -moz-appearance: textfield;
}

.product-detail {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "image info";
  padding: 0 3.4vw 2.4vw;
}
.product-detail-header {
  grid-area: header;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.6vw;
  padding-bottom: 1.3vw;
  border-bottom: 0.1vw solid rgba(89, 89, 89, 0.25);
}
.product-detail-header .title {
  color: #595959;
  font-size: 2.2vw;
  font-weight: 600;
}
.product-detail-header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.6vw;
}
.product-detail-header .menu-item {
  padding: 0.7vw 1.2vw;
  border-radius: 0.3vw;
  font-size: 1.05vw;
  font-weight: 600;
  color: #595959;
  cursor: pointer;
  border: 0.1vw solid #f8f4f0;
  transition: all 0.2s ease-out;
}
.product-detail-header .menu-item.active {
  border: 0.1vw solid #34a0a4;
  color: #34a0a4;
}
.product-detail-image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4vw;
  padding: 2.4vw 0;
}
.product-detail-image .swiper.swiper-big {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40vw;
  height: 60vh;
  position: relative;
}
.product-detail-image .swiper.swiper-big .swiper-wrapper {
  width: 100%;
  height: auto;
}
.product-detail-image .swiper.swiper-big .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.product-detail-image .swiper.swiper-big .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail-image .swiper.swiper-small {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 10vh;
  width: 40vw;
}
.product-detail-image .swiper.swiper-small .swiper-wrapper {
  width: 100%;
  height: auto;
}
.product-detail-image .swiper.swiper-small .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.product-detail-image .swiper.swiper-small .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail-info {
  grid-area: info;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  background-color: #f8f4f0;
  color: #595959;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}