<header class="app-header">
    <div class="app-header-navigation">
      <div class="tabs dashboard-submenu submenu">
        <a href="#">Overview</a>
        <a href="#" class="active">Payments</a>
        <a href="#">Cards</a>
        <a href="#">Account</a>
      </div>
      <div class="tabs management-product-submenu" style="display: none">
        <a href="/table-product">Product</a>
        <a href="#">Forms</a>
        <a href="#">Tables</a>
      </div>
      <div class="tabs reports-submenu submenu" style="display: none">
        <a href="#">Sales</a>
        <a href="#">Expenses</a>
        <a href="#">Revenue</a>
      </div>
    </div>
    <div class="app-header-actions">
      <button class="user-profile">
        <span>Matheo Peterson</span>
        <span>
          <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
        </span>
      </button>
      <div class="app-header-actions-buttons">
        <button class="icon-button large">
          <i class="ph ph-magnifying-glass"></i>
        </button>
        <button class="icon-button large">
          <i class="ph ph-bell"></i>
        </button>
      </div>
    </div>
  </header>
  