<header class="app-header">
  <div class="app-header-navigation">
    <div class="tabs dashboard-submenu submenu">
      <a href="/dashboard">Overview</a>
      <a href="/dashboard">Payments</a>
      <a href="/dashboard">Cards</a>
      <a href="/dashboard">Account</a>
    </div>
    <div class="tabs management-product-submenu submenu" style="display: none">
      <a href="/management-product">Product Main</a>
      <a href="/table-product">Product</a>
      <a href="/management-product-categories">Categories</a>
    </div>
  </div>
  <div class="app-header-actions">
    <button class="user-profile">
      <span>Matheo Peterson</span>
      <span>
        <img src="https://assets.codepen.io/285131/almeria-avatar.jpeg" />
      </span>
    </button>
    <div class="app-header-actions-buttons">
      <button class="icon-button large">
        <i class="ph ph-magnifying-glass"></i>
      </button>
      <button class="icon-button large">
        <i class="ph ph-bell"></i>
      </button>
    </div>
  </div>
</header>
