@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;

$gap-catalog: 0.9vw;
$width-filter: 20vw;
$fs-item: 0.95vw;

@mixin title-filter() {
  font-size: 1.15vw;
  font-weight: 600;
  color: map-get($map: v.$color, $key: "dark-cyan");
}

.catalog {
  min-height: 100vh;
  padding: 0 v.$padding-horizontal-main v.$padding-vertical-main;
  gap: 0.9vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;

  &-filter {
    display: grid;
    gap: 1.6vw;
    width: 20vw;
    height: fit-content;
    transition: transform 0.65s linear;
    transform: translateX(0);

    .filter-header {
      @include m.flex($justify: space-between);

      &-controll {
        @include m.flex();
        gap: 0.45vw;
        color: map-get($map: v.$color, $key: "dark-gray");

        i {
          font-size: 1.25vw;
        }
      }

      &-close {
        @include m.flex();
        gap: 0.2vw;
        cursor: pointer;

        i {
          font-size: 1.2vw;
          color: map-get($map: v.$color, $key: "dark-gray");
        }

        span {
          width: 0.15vw;
          height: 2.6vh;
          border-radius: 50vw;
          background-color: map-get($map: v.$color, $key: "dark-gray");
        }
      }
    }

    .filter-categories {
      display: grid;
      gap: 0.6vw;

      &-title {
        @include title-filter();
      }

      &-list {
        @include m.flex($justify: flex-start);
        flex-wrap: wrap;
        gap: 0.5vw 0.4vw;

        .item {
          width: fit-content;
          border-radius: 10vw;
          color: map-get($map: v.$color, $key: "light-cyan");
          cursor: pointer;
          border: 0.1vw solid map-get($map: v.$color, $key: "light-cyan");
          padding: 0.6vw 0.9vw;
          position: relative;
          overflow: hidden;
          transition: all 0.25s ease-out;
          font-size: $fs-item;

          &::after {
            content: "";
            position: absolute;
            left: -5%;
            top: 0;
            width: 110%;
            height: 110%;
            display: block;
            z-index: -1;
            background-color: map-get($map: v.$color, $key: "light-cyan");
            transform: scaleY(0);
            transform-origin: center bottom;
            transition: transform 0.35s ease-out;
          }

          &:hover {
            color: #fff;

            &::after {
              transform: scaleY(1);
              transform-origin: center top;
            }
          }
        }
      }
    }

    .filter-address {
      display: grid;
      grid-template-areas:
        "title title"
        "province regency"
        "district village";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      gap: 0.7vw 0.6vw;

      @mixin address-select() {
        border: 0.1vw solid map-get($map: v.$color, $key: "light-cyan");
        padding: 0.5vw 0.55vw 0.5vw 0.5vw;
        border-radius: 0.4vw;
        display: grid;
        grid-template-areas:
          "label icon"
          "list list";
        grid-template-columns: 1fr auto;
        font-size: $fs-item;
        color: map-get($map: v.$color, $key: "light-cyan");
        cursor: pointer;

        i {
          grid-area: icon;
          margin-top: -0.1vw;
        }

        .list {
          grid-area: list;
          @include m.flex($direction: column, $align: flex-start);
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: max-height 0.9s ease-out, opacity 0.15s ease-out;

          .item {
            padding-top: 0.5vw;
          }
        }

        &.expanded {
          .list {
            opacity: 1;
            max-height: 100vh;
          }
        }
      }

      &-title {
        grid-area: title;
        @include title-filter();
      }

      &-province {
        grid-area: province;
        @include address-select();
      }

      &-regency {
        grid-area: regency;
        @include address-select();
      }

      &-district {
        grid-area: district;
        @include address-select();
      }

      &-village {
        grid-area: village;
        @include address-select();
      }
    }

    &.hidden {
      transform: translateX(-($width-filter + v.$padding-horizontal-main));
    }
  }

  &-display {
    width: 100%;

    .controll-filter {
      width: fit-content;
      padding: 0.6vw 1.6vw;
      border: 0.1vw solid map-get($map: v.$color, $key: "dark-gray");
      border-radius: 10vw;
      @include m.flex();
      gap: 0.4vw;
      color: map-get($map: v.$color, $key: "dark-gray");
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: transform 0.6s linear;
      transform: translateX(0);

      span {
        font-weight: 600;
      }

      i {
        font-size: 1.2vw;

        &:nth-child(1) {
          display: block;
        }

        &:nth-child(2) {
          display: none;
        }
      }

      &.expanded {
        transform: translateX(-($gap-catalog + $width-filter));

        i {
          &:nth-child(1) {
            display: none;
          }

          &:nth-child(2) {
            display: block;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: -5%;
        top: 0;
        width: 110%;
        height: 110%;
        display: block;
        z-index: -1;
        background-color: map-get($map: v.$color, $key: "dark-gray");
        transform: scaleY(0);
        transform-origin: bottom center;
        transition: transform 0.35s ease-out;
      }

      &:hover {
        color: #fff;

        &::after {
          transform: scaleY(1);
          transform-origin: top center;
        }
      }
    }
  }
}
