@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

@mixin testimonials() {
  padding: 0 v.$padding-horizontal-main 5.4vw;

  .testimonials-content {
    margin: auto;
    border-radius: 2.5vw;
  }

  .testimonials-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7.2vw;

    .testimonials-text {
      h2 {
        font-family: v.$poppins;
        font-weight: 500;
        font-size: 2.8vw;
      }

      p {
        font-size: 1vw;
        color: map-get($map: v.$color, $key: "dark-gray");
      }

      button {
        padding: 1.1vw 1.3vw;
        background-color: map-get($map: v.$color, $key: "light-cyan");
        border-radius: 10vw;
        color: map-get($map: v.$color, $key: "white");
        border: 0 solid transparent;
        text-transform: uppercase;
        letter-spacing: 0.15vw;
        margin-top: 1.2vw;
        font-size: 1vw;

        &:hover {
          background-color: map-get($map: v.$color, $key: "dark-cyan");
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }

    .testimonials-list {
      display: grid;
      align-items: center;
      gap: 0.8vw;

      .testimonial-card {
        border: 0.1vw solid #0000001a;
        border-radius: 1.6vw;
        padding: 2vw;

        .stars {
          color: #f0ad4e;
          padding-bottom: 0.7vw;
        }

        .testimonial-text {
          margin-bottom: 1.9vw;
          font-size: 1.1vw;
        }

        .testimonial-author {
          text-transform: uppercase;
          color: map-get($map: v.$color, $key: "light-cyan");
          font-size: 0.8vw;
          font-weight: 500;
          letter-spacing: 0.1vw;
        }
      }
    }
  }

  .line {
    width: 13%;
    height: 0.1vh;
    background-color: map-get($map: v.$color, $key: "light-cyan");
    margin: 3.6vh 0;
  }
}
