@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

@mixin members() {
  padding: 0 v.$padding-horizontal-main v.$padding-vertical-main;

  .counters {
    padding: 3em 2em;
    color: map-get($map: v.$color, $key: "dark-gray" );
    text-align: center;

    & > div{
      max-width: 900px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 4em 2em;
    }

    .counter{
      position: relative;

      h1{
        font-size: 3em;
        
      }
    }
  }
}
