@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
header {
  width: 100%;
  height: auto;
  padding: 2.1vw 2.8vw;
}
header .nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header .nav-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.6vw;
}
header .nav-start .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: #595959 solid 0.15vw;
  border-radius: 0.34vw;
}
header .nav-start .search .icon {
  padding: 0 0.7vw;
  height: 5.2vh;
  background-color: #34a0a4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-top-left-radius: 0.18vw;
  border-bottom-left-radius: 0.18vw;
}
header .nav-start .search .icon i {
  color: #fff;
}
header .nav-start .search input {
  width: 18vw;
  height: 5.2vh;
  border: none;
  outline: none;
  padding: 0 0.5vw;
  border-top-right-radius: 0.18vw;
  border-bottom-right-radius: 0.18vw;
}
header .nav-start .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5vw;
}
header .nav-start .socials .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 2.1vw;
  height: 2.1vw;
  border-radius: 50%;
  background-color: #34a0a4;
}
header .nav-start .socials .icon i {
  font-size: 1vw;
  color: #fff;
}
header .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
}
header .nav-main .logo {
  width: 4vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3vw;
}
header .nav-main .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav-main .logo span {
  font-family: "Grandstander", cursive;
  font-size: 2.4vw;
  font-weight: 200;
  color: #595959;
  text-transform: uppercase;
}
header .nav-main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.05vw;
}
header .nav-main .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #595959;
  text-decoration: none;
  line-height: 100%;
  transition: all 0.4s ease-out;
}
header .nav-main .links a:hover {
  color: #34a0a4;
}
header .nav-main .links a.active {
  color: #fff;
  background-color: #34a0a4;
  padding: 0.4vw 0.9vw;
  border-radius: 10vw;
}
header .nav-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1.2vw;
}
header .nav-end i {
  font-size: 1.6vw;
  color: #34a0a4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  background-color: #f8f4f0;
}