@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
header {
  width: 100%;
  height: auto;
  padding: 2.1vw 3.4vw;
}
header .nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header .nav-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
header .nav-start .socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5vw;
}
header .nav-start .socials .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 2.1vw;
  height: 2.1vw;
  border-radius: 50%;
  background-color: #34a0a4;
}
header .nav-start .socials .icon i {
  font-size: 1vw;
  color: #fff;
}
header .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
}
header .nav-main .logo {
  width: 4vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3vw;
}
header .nav-main .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav-main .logo span {
  font-family: "Grandstander", cursive;
  font-size: 2.4vw;
  font-weight: 200;
  color: #595959;
  text-transform: uppercase;
}
header .nav-main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.05vw;
}
header .nav-main .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #595959;
  text-decoration: none;
  line-height: 100%;
  transition: all 0.4s ease-out;
}
header .nav-main .links a:hover {
  color: #34a0a4;
}
header .nav-main .links a.active {
  color: #fff;
  background-color: #34a0a4;
  padding: 0.4vw 0.9vw;
  border-radius: 10vw;
}
header .nav-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1.2vw;
}
header .nav-end i {
  font-size: 1.6vw;
  color: #34a0a4;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #595959;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2vw 3.4vw;
}
footer a {
  text-decoration: none;
  color: #34a0a4;
  margin: 0 10px;
}
footer a:hover {
  color: #0b787c;
  transition: 0.5s;
}
footer a i {
  font-size: 1.5vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  background-color: #f8f4f0;
}

.testimonials {
  padding: 3.4vw;
}

.testimonials-content {
  background-color: #fff;
  margin: auto;
  border-radius: 2.5vw;
  padding: 3vw 2.5vw;
}

.testimonials-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.testimonials-section .testimonials-text {
  width: 89%;
}
.testimonials-section .testimonials-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.8vw;
}
.testimonials-section .testimonials-text p {
  font-size: 1vw;
  color: #595959;
}
.testimonials-section .testimonials-text button {
  padding: 1vw;
  background-color: #34a0a4;
  border-radius: 100px;
  color: #fff;
  border: 0 solid transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1vw;
}
.testimonials-section .testimonials-text button:hover {
  background-color: #0b787c;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.testimonials-section .testimonials-list {
  display: grid;
  align-items: center;
}
.testimonials-section .testimonials-list .testimonial-card {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  padding: 2vw;
}
.testimonials-section .testimonials-list .testimonial-card .stars {
  color: #F0AD4E;
  padding-bottom: 0.5vw;
}
.testimonials-section .testimonials-list .testimonial-card .testimonial-text {
  margin-bottom: 20px;
  font-size: 1.1vw;
}
.testimonials-section .testimonials-list .testimonial-card .testimonial-author {
  text-transform: uppercase;
  color: #34a0a4;
  font-size: 0.8vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
}

.line {
  width: 10%;
  height: 1px;
  background-color: #34a0a4;
  margin: 20px 0;
}