@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
header .nav {
  width: 100%;
  height: auto;
  padding: 2.4vw 3.4vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
header .nav-logo {
  display: grid;
  gap: 0.3vw;
  text-decoration: none;
}
header .nav-logo img {
  width: 6vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
header .nav-logo span {
  font-family: "Grandstander", cursive;
  font-size: 2.15vw;
  font-weight: 200;
  color: #595959;
  text-transform: uppercase;
}
header .nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}
header .nav-main .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10vw;
  border: 0.15vw solid #34a0a4;
  padding: 0.3vw;
}
header .nav-main .search button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: #34a0a4;
  color: #fff;
  font-size: 1.1vw;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  padding: 0.7vw;
  cursor: pointer;
}
header .nav-main .search button:hover {
  background-color: #0b787c;
}
header .nav-main .search input {
  width: 34vw;
  padding: 0 0.5vw;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
  font-size: 1.1vw;
  color: #595959;
  transition: all 0.4s ease-out;
  border: none;
  outline: none;
  background-color: transparent;
}
header .nav-main .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.05vw;
}
header .nav-main .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #595959;
  text-decoration: none;
  line-height: 100%;
  transition: all 0.4s ease-out;
}
header .nav-main .links a:hover {
  color: #0b787c;
}
header .nav-main .links a.active {
  color: #fff;
  background-color: #34a0a4;
  padding: 0.4vw 0.9vw;
  border-radius: 10vw;
}
header .nav-others {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 0.9vw;
}
header .nav-others i {
  font-size: 1.7vw;
  color: #34a0a4;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #595959;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2vw 3.4vw;
}
footer a {
  text-decoration: none;
  color: #34a0a4;
  margin: 0 10px;
}
footer a:hover {
  color: #0b787c;
  transition: 0.5s;
}
footer a i {
  font-size: 1.5vw;
}

.hero {
  padding: 0 3.4vw 2.4vw;
  border-radius: 1.6vw;
}
.hero .swiper {
  --swiper-pagination-color: #34a0a4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 60vh;
  border-radius: 1.6vw;
  position: relative;
}
.hero .swiper-wrapper {
  width: 100%;
  height: auto;
}
.hero .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.hero .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .swiper .swiper-nav-prev,
.hero .swiper .swiper-nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}
.hero .swiper .swiper-nav-prev i,
.hero .swiper .swiper-nav-next i {
  color: #34a0a4;
  font-size: 2.6vw;
  transition: all ease-out 0.4s;
}
.hero .swiper .swiper-nav-prev:hover i,
.hero .swiper .swiper-nav-next:hover i {
  color: #0b787c;
}
.hero .swiper .swiper-nav-prev {
  left: 1.2vw;
}
.hero .swiper .swiper-nav-next {
  right: 1.2vw;
}

.categories {
  padding: 0 3.4vw 2.4vw;
  width: 100%;
  height: auto;
}
.categories .swiper {
  width: 100%;
  height: auto;
}
.categories .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
}
.categories .swiper-wrapper .swiper-slide {
  padding: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 0.15vw solid #34a0a4;
  background-color: transparent;
  border-radius: 0.4vw;
  gap: 0.5vw;
}
.categories .swiper-wrapper .swiper-slide i {
  font-size: 1.9vw;
  color: #34a0a4;
}
.categories .swiper-wrapper .swiper-slide .text {
  text-align: center;
  color: #34a0a4;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: 0 3.4vw 2.4vw;
  gap: 1.1vw;
  grid-auto-rows: 1fr;
}
.product-wrapper {
  background-color: #fff;
  border-radius: 0.7vw;
  box-shadow: 1px -1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.product-wrapper .image {
  height: 30vh;
}
.product-wrapper .image img {
  border-top-left-radius: 0.7vw;
  border-top-right-radius: 0.7vw;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.product-wrapper .name {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Maksimal 2 baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.6vw 0.8vw 0;
  font-size: 98%;
}
.product-wrapper .price {
  font-weight: 800;
  padding: 0.3vw 0.8vw 0;
}
.product-wrapper .discount {
  padding: 0.3vw 0.8vw 0;
  font-size: 85%;
  color: rgba(89, 89, 89, 0.6);
  text-decoration: line-through;
}
.product-wrapper .rating-sold {
  font-size: 95%;
  padding: 0.3vw 0.8vw 1.1vw;
}

.card1-container {
  padding: 0 3.4vw 2.4vw;
}
.card1-container .card1-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2vw;
}
.card1-container .card1-content .card1 {
  background-color: #070F2B;
  border-radius: 20px;
  padding: 2em;
}
.card1-container .card1-content .card1 p {
  color: #34a0a4;
}
.card1-container .card1-content .card1 h1 {
  color: #fff;
  font-size: 45px;
  margin: 1vw 0;
}
.card1-container .card1-content .card1 button {
  border: 1px solid #34a0a4;
  background-color: transparent;
  color: #34a0a4;
  padding: 15px;
  border-radius: 90px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
.card1-container .card1-content .card1 button:hover {
  background-color: #34a0a4;
  color: #fff;
  transition: 0.5s;
}
.card1-container .card1-content .card2 {
  background-color: #34a0a4;
  border-radius: 20px;
  padding: 2em;
}
.card1-container .card1-content .card2 p {
  color: #070F2B;
}
.card1-container .card1-content .card2 h1 {
  color: #fff;
  font-size: 45px;
  margin: 1vw 0;
}
.card1-container .card1-content .card2 button {
  border: 1px solid #070F2B;
  background-color: transparent;
  color: #070F2B;
  padding: 15px;
  border-radius: 90px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
.card1-container .card1-content .card2 button:hover {
  background-color: #070F2B;
  color: #fff;
  transition: 0.5s;
}

.info-container {
  padding: 0 3.4vw 2.4vw;
}
.info-container .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.info-container div {
  text-align: center;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
}
.info-container div h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  color: #595959;
  font-weight: 700;
  text-transform: uppercase;
}
.info-container div p {
  color: #0b787c;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
  padding: 0 3.4vw 5.4vw;
}
.contact-content .contact-text {
  position: relative;
}
.contact-content .contact-text p {
  color: #0b787c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1vw;
}
.contact-content .contact-text h1 {
  font-size: 3vw;
  color: #000;
  margin: 1vw 0;
}
.contact-content .contact-text h5 {
  color: #0f393b;
  line-height: 1.8vw;
  font-size: 100%;
  text-align: justify;
}
.contact-content .contact-form {
  background-color: white;
  padding: 2vw;
  border-radius: 1.5vw;
  position: relative;
}
.contact-content .contact-form .form-group {
  margin-bottom: 1vw;
  width: 100%;
}
.contact-content .contact-form .form-group input,
.contact-content .contact-form .form-group textarea {
  color: #595959;
  background-color: #f8f4f0;
  border: 0.1vw solid #f8f4f0;
  padding: 1vw;
  width: 100%;
  border-radius: 1vw;
  outline: none;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.contact-content .contact-form .form-group input:focus,
.contact-content .contact-form .form-group textarea:focus {
  background-color: white;
  border: 0.1vw solid #0b787c;
}
.contact-content .contact-form button {
  border: 1px solid #34a0a4;
  background-color: #34a0a4;
  color: #fff;
  float: right;
  padding: 0.8vw;
  border-radius: 90px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
}
.contact-content .contact-form button:hover {
  background-color: transparent;
  background-color: #0b787c;
  border: 1px solid #0b787c;
  transition: 0.5s;
}

.testimonials {
  padding: 0 3.4vw 2.4vw;
}

.testimonials-content {
  margin: auto;
  border-radius: 2.5vw;
}

.testimonials-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.testimonials-section .testimonials-text {
  width: 89%;
}
.testimonials-section .testimonials-text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.8vw;
}
.testimonials-section .testimonials-text p {
  font-size: 1vw;
  color: #595959;
}
.testimonials-section .testimonials-text button {
  padding: 1vw;
  background-color: #34a0a4;
  border-radius: 100px;
  color: #fff;
  border: 0 solid transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1vw;
}
.testimonials-section .testimonials-text button:hover {
  background-color: #0b787c;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.testimonials-section .testimonials-list {
  display: grid;
  align-items: center;
}
.testimonials-section .testimonials-list .testimonial-card {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  padding: 2vw;
}
.testimonials-section .testimonials-list .testimonial-card .stars {
  color: #f0ad4e;
  padding-bottom: 0.5vw;
}
.testimonials-section .testimonials-list .testimonial-card .testimonial-text {
  margin-bottom: 20px;
  font-size: 1.1vw;
}
.testimonials-section .testimonials-list .testimonial-card .testimonial-author {
  text-transform: uppercase;
  color: #34a0a4;
  font-size: 0.8vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
}

.line {
  width: 10%;
  height: 1px;
  background-color: #34a0a4;
  margin: 20px 0;
}

.partners-section {
  text-align: center;
  padding: 0 3.4vw 2.4vw;
}
.partners-section h2 {
  font-size: 2rem;
  margin-bottom: 1.6vh;
  color: #595959;
}
.partners-section .scrolling-logos {
  width: 100%;
  overflow: hidden;
}
.partners-section .scrolling-logos .logo-container {
  display: flex;
  align-items: center;
}
.partners-section .scrolling-logos .logo-container .logo-slide {
  display: flex;
  animation: scroll 3s linear infinite;
  gap: 3vw;
}
.partners-section .scrolling-logos .logo-container .logo-slide img {
  width: 10vw;
  height: 8vw;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 20px;
  filter: grayscale(1);
}
.partners-section .scrolling-logos .logo-container .logo-slide img:hover {
  filter: grayscale(0);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  background-color: #f8f4f0;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}