@use "./../../helpers/mixins" as m;
@use "./../../helpers/variables" as v;

header {
  width: 100%;
  height: auto;
  padding: 2.1vw 2.8vw;

  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &-start {
      .socials {
        @include m.flex($justify: flex-start);
        gap: 0.5vw;

        .icon {
          @include m.flex();
          @include m.circle($size: 2.1vw);
          background-color: map-get($map: v.$color, $key: "light-cyan");

          i {
            font-size: 1vw;
            color: #fff;
          }
        }
      }
    }

    &-main {
      @include m.flex($direction: column);
      gap: 0.5vw;

      .logo {
        width: 4vw;
        height: auto;
        @include m.flex($direction: column);
        gap: 0.3vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        span {
          font-family: v.$grandstander;
          font-size: 2.4vw;
          font-weight: 200;
          color: map-get($map: v.$color, $key: "dark-gray");
          text-transform: uppercase;
        }
      }

      .links {
        @include m.flex();
        gap: 1.05vw;

        a {
          @include m.flex();
          color: map-get($map: v.$color, $key: "dark-gray");
          text-decoration: none;
          line-height: 100%;
          transition: all 0.4s ease-out;

          &:hover {
            color: map-get($map: v.$color, $key: "light-cyan");
          }

          &.active {
            color: #fff;
            background-color: map-get($map: v.$color, $key: "light-cyan");
            padding: 0.4vw 0.9vw;
            border-radius: 10vw;
          }
        }
      }
    }

    &-end {
      @include m.flex($justify: flex-end);
      gap: 1.2vw;

      i {
        font-size: 1.6vw;
        color: map-get($map: v.$color, $key: "light-cyan");
      }
    }
  }
}
