<aside class="navigation">
  <div class="app-header-logo"> 
    <div class="logo" >
      <a href="/" class="nav-logo">
        <img src="/assets/img/logos/logo-fix.png" alt="GoBiz Logo" />
        <span>GoBiz</span>
      </a>
    </div>
  </div>
  <div class="nav">
    <a href="/dashboard">
      <i class="ph ph-browsers"></i>
      <span>Dashboard</span>
    </a>
    <a href="/tableproduct" data-menu="management-product" class="menu-item">
      <i class="ph ph-check-square"></i>
      <span>Components</span>
    </a>
    <a class="logout" href="#">
      <i class="ph ph-sign-out"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>