<nav class="navigation">
  <a href="#">
    <i class="ph ph-browsers"></i>
    <span>Dashboard</span>
  </a>
  <a href="#">
    <i class="ph ph-check-square"></i>
    <span>Scheduled</span>
  </a>
  <a href="#">
    <i class="ph ph-swap"></i>
    <span>Transfers</span>
  </a>
  <a href="#">
    <i class="ph ph-file-text"></i>
    <span>Templates</span>
  </a>
  <a href="#">
    <i class="ph ph-globe"></i>
    <span>SWIFT</span>
  </a>
  <a href="#">
    <i class="ph ph-clipboard-text"></i>
    <span>Exchange</span>
  </a>
  <a class="logout" href="#">
    <i class="ph ph-sign-out"></i>
    <span>Logout</span>
  </a>
</nav>
