<aside class="navigation">
  <a href="#">
    <i class="ph ph-browsers"></i>
    <span>Dashboard</span>
  </a>
  <a class="components-toggle">
    <i class="ph ph-check-square"></i>
    <span>Components</span>
    <i class="ph ph-caret-down caret-icon"></i>
  </a>
  <div class="submenu" id="components-submenu">
    <a href="#">
      <i class="ph ph-user"></i>
      <span>User</span>
    </a>
    <a href="#">
      <i class="ph ph-package"></i>
      <span>Product</span>
    </a>
  </div>
  <a class="logout" href="#">
    <i class="ph ph-sign-out"></i>
    <span>Logout</span>
  </a>
</aside>
