@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

.card1-container {
    width: 90vw;
    margin: 60px auto;

      .card1-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;

        .card1 {
          background-color: #ef8451;
          border-radius: 20px;
          padding: 2em;

          p {
            color: #093532;
          }

          h1 {
            color: #fff;
            font-size: 45px;
            margin: 1vw 0;
          }

          button {
            border: 1px solid #093532;
            background-color: transparent;
            color: #093532;
            padding: 15px;
            border-radius: 90px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;

            &:hover {
              background-color: #093532;
              color: #fff;
              transition: 0.5s;
            }
          }
        }

        .card2 {
          background-color: #124c51;
          border-radius: 20px;
          padding: 2em;

          p {
            color: #ef8451;
          }

          h1 {
            color: #fff;
            font-size: 45px;
            margin: 1vw 0;
          }

          button {
            border: 1px solid #ef8451;
            background-color: transparent;
            color: #ef8451;
            padding: 15px;
            border-radius: 90px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;

            &:hover {
              background-color: #ef8451;
              color: #fff;
              transition: 0.5s;
            }
          }
        }
      }
    }