@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

.card1-container {
    padding: 0 v.$padding-horizontal-main v.$padding-vertical-main;

      .card1-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2vw;

        .card1 {
          background-color: map-get($map: v.$color, $key: "light-black");
          border-radius: 20px;
          padding: 2em;

          p {
            color: map-get($map: v.$color, $key: "light-cyan");
          }

          h1 {
            color: #fff;
            font-size: 45px;
            margin: 1vw 0;
          }

          button {
            border: 1px solid map-get($map: v.$color, $key: "light-cyan");
            background-color: transparent;
            color: map-get($map: v.$color, $key: "light-cyan");
            padding: 15px;
            border-radius: 90px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;

            &:hover {
              background-color: map-get($map: v.$color, $key: "light-cyan" );
              color: #fff;
              transition: 0.5s;
            }
          }
        }

        .card2 {
          background-color: map-get($map: v.$color, $key: "light-cyan");
          border-radius: 20px;
          padding: 2em;

          p {
            color: map-get($map: v.$color, $key: "light-black" );
          }

          h1 {
            color: #fff;
            font-size: 45px;
            margin: 1vw 0;
          }

          button {
            border: 1px solid map-get($map: v.$color, $key: "light-black" );
            background-color: transparent;
            color: map-get($map: v.$color, $key: "light-black" );
            padding: 15px;
            border-radius: 90px;
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;

            &:hover {
              background-color: map-get($map: v.$color, $key: "light-black" );
              color: #fff;
              transition: 0.5s;
            }
          }
        }
      }
    }