@use "./../../../helpers/mixins" as m;
@use "./../../../helpers/variables" as v;

.contact-container {
    width: 100%;

    .contact-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5vw;
      padding: v.$padding-horizontal-main;
      margin: auto;

      .contact-text {
        margin: 1vw;
        position: relative;

        p {
          color: #ef8451;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1vw;
        }

        h1 {
          font-size: 3vw;
        //   font-weight: 500;
          color: #093532;
          margin: 1vw 0;
        }

        h5 {
          color: #0f393b;
          line-height: 1.8vw;
          font-size: 100%;
          text-align: justify;
        }
      }
      .contact-form {
        background-color: white;
        margin: 10px;
        padding: 30px 50px 100px 30px;
        border-radius: 20px;
        position: relative;

        .form-group {
          margin-bottom: 10px;
          width: 100%;

          input {
            color: #6b8483;
            background-color: #f5f3ee;
            border: 1px solid #f5f3ee;
            padding: 20px;
            width: 95%;
            border-radius: 10px;
            outline: none;

            &:focus {
              background-color: white;
              border: 1px solid #ef8451;
            }
          }

          textarea {
            color: #6b8483;
            background-color: #f5f3ee;
            border: 1px solid #f5f3ee;
            padding: 20px;
            width: 95%;
            border-radius: 10px;
            outline: none;
            font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
            resize: none;

            &:focus {
              background-color: white;
              border: 1px solid #ef8451;
            }
          }
        }
        button {
          position: absolute;
          right: 30px;
          bottom: 30px;
          border: 1px solid #ef8451;
          background-color: #ef8451;
          color: #fff;
          margin: 5px 20px;
          padding: 10px;
          border-radius: 90px;
          cursor: pointer;
          font-size: 15px;
          text-transform: uppercase;

          &:hover {
            background-color: transparent;
            color: #ef8451;
            transition: 0.5s;
          }
        }
      }
    }
  }